

@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    
}
.body{
    background-color:#FFFDFD;
    width: 100%;
    height: 100vh;
} 
/*Comienza la maquetación del header*/
.sticky-top{
    background-color: #FFFDFD;
    padding: 10px;
    text-align: left;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 10;  
}
header .container-fluid .logo{
    width: 100px;
    position: relative;
    left: 86px;
}
.colorNav{
    background-color: #F1B8BF;
    width: 100%;
}
.navbar-nav{
    list-style: none;  
}
.nav-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 86px;
}
.nav-link {
    color: #0F0F10;
    text-decoration: none;
    font-family: poppins;
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 86px; 
}
    
/*Termina la maquetación del header*/
/*Comienza la maquetación del main del Index*/
.fondo{
    background: #E0F3F7;
    background-image: url(../assets/img/círculos\ fondo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
}
.contenedorBannerIndex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70vh; 
    width: 100vw;
}
.fondo{
    background: #E0F3F7;
    background-image: url(../assets/img/círculos\ fondo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
}
.columna{
    width: 50%;
}
.col-info{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    min-height: 100%;
    padding: 1rem 6rem 1rem 4rem;
}

.titulo{
    text-align: left;
    color: #1B1B1C;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: poppins;
}
.subtituloPrincipalIndex{
    text-align: left;
    color: #0F0F10;
    font-size: 2rem;
    width: 403px;
    height: 48px;
    font-family: La Belle Aurore;
    
}
.parrafoPrincipal{
    text-align: left;
    color: #394149;
    font-size: 1.1rem;
    width: 511px;
    height: 73px;   
}
.parrafoPrincipal span{
    color: #48BDD6;
}
.botonQuierosaberMas{
    color:#FFFFFF;
    background-color:#48BDD6;
    border-bottom: #48BDD6;
    border: #48BDD6;
    width: 295px;
    height: 50px;
    text-align: center;
    font-size: 1.1rem;
    bottom: 56px;
    border-radius: 18px;
}
.col-img{
    display: flex;
    flex-direction:column;
    align-items: baseline;
    justify-content: center;

}
.imagenBannerIndex{
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    width: 600px;
    margin-left: 700px;
}
.alto{
    height:70vh;
}

.columnaIzq{
    height:100%;
}
.columnaDer{
    height:100%;
}
.seccionNuestraHistoriDeLaMarcaIndex{

    position: relative;
}
.tituloSeccionNuestraHistoriaIndex{
    text-align: right;
    color: #0F0F10;
    padding: 20px;
    font-family: poppins;
    font-size: 2rem;
    position: absolute;
    top: 659px;
    left: 730px;
}
.textoSeccionNuestraHistoriaIndex{
    text-align: left;
    color: #394149;
    padding: 20px;
    font-size: 1.1rem;
    font-family: poppins;
    width: 616px;
    height: 148px;
    position: absolute;
    top: 730px;
    left: 730px;
}
.navlinkNuestraHistoria{
    text-align: left;
    color: #F6929E;
    padding: 20px;
    font-size: 1.3rem;
    position: absolute;
    top: 920px;
    left: 730px;
}
.imagenHistoriaIndex{
    width: 500px;
    position: absolute;
    top: 659px;
    left: 86px;
    margin-bottom: 50px;
    border-radius: 8px;
}
.seccionValoresDeMarca{
    background-color: #E0F3F7;
    box-sizing: border-box;
    width: 100vw;
    position: relative;
    top: 560px;
}

.tituloValoresDeMarcaIndex{
    text-align: center;
    font-size: 2rem;
    color: #0F0F10;
    position: relative;
    top: 14px;   
}

.ilustracionValorDeMarcaUno{
    width: 90px;
    position: absolute;
    display: inline-block;
    top: 80px;
    left: 86px;
}
.subtituloValorDeMarcaUno{
    text-align: left;
    color: #F6929E;
    display: inline-block;
    font-size: 1.2rem;
    position: absolute;
    left: 194px;
    top: 80px;
}
.textoValorDeMarcaUno{
    display: inline-block;
    text-align: left;
    color: #394149;
    font-size: 1rem;
    width: 294px;
    height: 103px;
    position: relative;
    left: 194px;
    top: 70px;
}
.ilustracionValorDeMarcaDos{
    width: 90px;
    position: absolute;
    display: inline-block;
    top: 80px;
    left: 520px;
}
.subtituloValorDeMarcaDos{
    text-align: left;
    color: #F6929E;
    display: inline-block;
    font-size: 1.2rem;
    position: absolute;
    left: 628px;
    top: 80px;
}
.textoValorDeMarcaDos{
    display: inline-block;
    text-align: left;
    color: #394149;
    font-size: 1rem;
    width: 294px;
    height: 103px;
    position: absolute;
    left: 628px;
    top: 115px;
}
.ilustracionValorDeMarcaTres{
    width: 90px;
    position: absolute;
    display: inline-block;
    top: 80px;
    left: 954px;
}
.subtituloValorDeMarcaTres{
    text-align: left;
    color: #F6929E;
    display: inline-block;
    font-size: 1.2rem;
    position: absolute;
    left: 1062px;
    top: 80px;
}
.textoValorDeMarcaTres{
    display: inline-block;
    text-align: left;
    color: #394149;
    font-size: 1rem;
    width: 294px;
    height: 103px;
    position:absolute;
    left: 1062px;
    top: 115px;
}

.seccionProductosDestacados{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 1051px;
    position: relative;
    top: 1580px;
    bottom: 20px;
}
.tituloSeccionProductosDestacados{
    position: relative;
    text-align: center;
    font-size: 2rem;
    padding: 15px;
    top: 610px;
}
.contenedorTarjetas{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.tarjeta{
    width: 30%;
    height: 446px;
    background-color: #F6929E;
    box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
    -webkit-box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
    -moz-box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px #1B1B1C;
    display: inline-block;
    position: relative;
    top: 600px;

}
.tarjeta img{
    width: 100%;
    height: 238px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;   
}
.subtituloTarjeta{
    text-align: left;
    font-size: 1.2rem;
    color: #1B1B1C;
    padding: 10px;
    padding-left: 18px;
    padding-bottom: 8px;
}
.parrafoTarjeta{
    text-align: left;
    display: block;
    width: 90%;
    height: 119px;
    font-size: 1rem;
    color: #394149;
    padding: 8px;
    padding-left: 18px;
    padding-top: 6px;
}
.seccionProductoDelMes{
    background-color:#E0F3F7;
    position: relative;
    top: 600px;
}
.contenedorProductoDelMes{
    position: relative;
    top: 55px;
    left: 86px;
    bottom: 10px;
    display: inline-block;
}
.tituloSeccionProductoDelMes{
    text-align: left;
    font-size: 2rem;
    color: #1B1B1C;
    margin-left: 86px;
    position: relative;
    top: 30px;
}
.subtituloProductoDelMes{
    text-align: left;
    font-size: 1.4rem;
    color: #F6929E ;
    margin-left: 86px;
    position: absolute;
    top: 90px;
}
.parrafoProductoDelMes{
    text-align: left;
    font-size: 1.1rem;
    color: #394149;
    display: block;
    width: 40%;
    height: 144px;
    margin-left: 86px;
    position: absolute;
    top: 136px;
}
.botonComprar{
    color:#FFFFFF;
    background-color:#48BDD6;
    border-bottom: #48BDD6;
    border: #48BDD6;
    width: 295px;
    height: 50px;
    text-align: center;
    font-size: 1.1rem;
    position: absolute;
    top: 290px;
    left: 86px;
    bottom: 56px;
    border-radius: 18px;
}
.contenedorImagenProductoDelMes{
    display: inline-block;
}
.imagenProductoDelMes{
    width: 550px;
    border-radius: 8px;
    position: absolute;
    right: 70px;
    top: 40px;
    margin-bottom: 10px;
}

.pieDePagina{
    background-color: #F1B8BF;
    position: relative;
    top: 900px;
}
.contenedorInfoMarca{
    position: relative;
    top: 5px;
}
.subtituloInfoMarca{
    text-align: left;
    margin-left: 86px;
    margin-top: 15px;
    font-size: 1.3rem;
    color: #1B1B1C;
    position: relative;
}
.parrafoInfoMarca{
    text-align: left;
    margin-left: 86px;
    font-size: 1rem;
    color: #394149;
    position: relative;
}
.contenedorPuntoDeVentaPrincipal{
    position: relative;
    top: 15px;
}
.contenedorIconoTienda{
    display: flex;
    font-size: 1.2rem;
    color: #1B1B1C;
    position: relative;
    top: 22px;
    left: 86px;
}
.subtituloPuntoDeVentaPrincipal{
    text-align: left;
    margin-left: 118px;
    font-size: 1.2rem;
    color: #1B1B1C;
}
.parrafoDireccionPrincipal{
    text-align: left;
    margin-left: 86px;
    font-size: 1rem;
    color: #394149;
}
.parrafoHorarioDeAtencion{
    text-align: left;
    margin-left: 86px;
    font-size: 1rem;
    color: #394149;
}
.contenedorPuntoDeVentaSede{
    position: relative;
    top: 20px;
}
.parrafoDireccionPuntoDeVentaSede{
    text-align: left;
    margin-left: 86px;
    font-size: 1rem;
    color: #394149;
    position: relative;
}
.parrafoHorarioDeAtencionSede{
    text-align: left;
    margin-left: 86px;
    font-size: 1rem;
    color: #394149;
    position: relative;
}
.contenedorTelefonosDeContacto{
    position: absolute;
    left:700px;
    top: 30px;
}
.contenedorIconoTelefono{
    display: flex;
    font-size: 1.2rem;
    color: #1B1B1C;
    position: relative;
    top: 28px;
    right: 99px;
  
}
.subtituloTelefonosDeContacto{
    text-align: left;
    width: 486px;
    height: 30px;
    font-size: 1.2rem;
    color: #1B1B1C;
    position: relative;
    right: 75px;
    top: 6px;   
}
.parrafoTelefonosDeContacto{
    text-align: left;
    font-size: 1rem;
    color: #394149;
    position: relative;
    right: 100px;
    top: 12px;
}
.contenedorRedesSociales{
    position: absolute;
    left:700px;
    top: 80px; 
}
.subtituloRedesSociales{
    text-align: left;
    font-size: 1.2rem;
    color:#1B1B1C;
    position: relative;
    right: 100px;
    top: 56px;   
}
.contenedorRedesSociales{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.linkRedSocial{
    display: inline-block;
    color: #0F0F10;
    font-size: 1.2rem;
    position: relative;
    right: 225px;
    top: 86px;
    width: 160px;
    height: 41px;
    line-height: 40px;

}
/*Inicia la maquetación del main pagina nosotros*/
.columnaTexto{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    min-height: 100%;
    padding: 1rem 6rem 1rem 4rem;
}
.img-fluid{
    border-radius: 8px;
    width: 50vw;
    height: 60vh;
}
.contenedorNuestraHistoria{
    display: flex;
    height:80vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
.columna { 
    width: 50%; 
}
.col-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    min-height: 100%;
    background:#F1B8BF;
    padding: 1rem 12rem 1rem 4rem;
}

.col-info p { line-height: 1.5; }

.col-img {
    background-position: center;
    background-size: cover;
    background-image: url("../assets/img/ingredientesyutenciliospasteleros.jpg"); 
}

.subtitulo{
    text-align: left;
    width: 402px;
    height: 139px;
    font-size: 1.8rem;
    color: #1B1B1C;
    font-weight: 600;
}
.parrafoHistoria{
    text-align: left;
    color: #394149;
    font-size: 1.1rem;
    width: 403px;
    height: 178px; 
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:60vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
.imgHover{
    transition: all 2s;
    z-index: -1;
  }
  .imgHover:hover{
    filter: brightness(100%);
    transform: scale(1.5);
    z-index: 10;
    overflow:hidden;
    cursor:zoom-in;
    align-self: center;
  }
  .imgHover:click{
    filter: brightness(100%);
    transform: scale(1.5);
   
    z-index: 10;
    cursor:zoom-in;
    align-self: center;
  }
  .imgHover:focus{
    filter: brightness(100%);
    transform: scale(1.5);
    z-index: 10;
    cursor:zoom-in;
    align-self: center;
  }
  
  /*inicia la maquetación del index de la pagina nuestros productos*/
  .fondoBnNuestros{
    background:#F1B8BF;
    background-image: url(../assets/img/círculo\ azul\ mediano\ fondo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 80vh;
  }
  .subtituloBanner{
    text-align: left;
    color: #FFFFFF;
    font-size: 2rem;
    width: 307px;
    height: 48px;
    font-family: La Belle Aurore;
    position: relative;
    top: 80px;
    left: 15px;
    
}
  
  

