 /*inicia la maquetación  de la pagina galeria*/
 .bannerGaleria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(to right top, #f7d0d5a4, #f9bbc296, #faa5af7e, #fa8e9cb7, #f87788ce), url(../assets/img/pastel\ galeria.jpg);
    width: 100%;
    height: 70vh;
    background-size: contain;
    background-repeat: no-repeat; 
    bottom: 10px; 
  }
  .tituloGaleria{
    text-align: $justify-textocenter;
    color: $color-blanco;
    font-size: map-get($map-tfuentes, h1);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
    left: 850px;
  }
  .galeria{
    margin: 16px;
  }
  
  .subtitulo{
    text-align:$justify-texto;
    font-size: map-get($map-tfuentes, h2);
    color: $color-subtitulos;
    font-weight: 600;
   
  }
  .parrafo{
    text-align: $justify-texto;
    font-size: map-get($map-tfuentes, text-cuerpo);
    color: $color-textos;
  }
  .video{
    margin-bottom: 20px;
  }
  .galeriaPVenta{
    width: 60%;
    position: relative;
    margin: auto;
  }

  .subtituloCarrusel{
    font-size: map-get($map-tfuentes, h3);
    color: $color-blanco;
    font-weight: 600; 
  }
  .textoCarrusel{
    font-size: $fuente-texto;
    color: $color-blanco;
  }
  /*css maquetación responsive pantalla galería tablet y celular pantalla grande*/
@media screen and (max-width: 768px){
  .tituloGaleria{
      font-size: $fuente-subtitulo;
      top: 120px;
      left: 500px;
    }
    .tituloValores{
      font-size: 1.6rem;
    }
    .parrafo{
      font-size: $fuente-textochico;
    }

}
/* CSS media query celular pantalla Galería*/
@media screen and (max-width: 576px){
  .bannerGaleria{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background-image: linear-gradient(to right top, #f7d0d5a4, #f9bbc296, #faa5af7e, #fa8e9cb7, #f87788ce), url(../assets/img/pastel\ galeria.jpg);
      background-position: center; 
      bottom: 10px; 
    }
    .tituloGaleria{
      font-size: 1.8rem;
      top: 15px;
      left: 20px;
    }
    .subtitulo{
      font-size: 1.6rem;
      text-align: $justify-textocenter;
    }
    .subtitulo span{
      font-size: 1.6rem;
      text-align: center;
    }
    .parrafo{
      font-size: 0.9rem;
      text-align: $justify-textocenter;
    }
}