/*inicia la maquetación  de la pagina nuestros productos*/

.fondoBnNuestros{
    background:$color-primario;
    background-image: url(../assets/img/círculo\ azul\ mediano\ fondo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 80vh;
    margin-top: 3px;
  }
  .tituloN{
    @extend .titulo;
    padding: 10px;
    margin-top: 3px;
  }
  .subtituloBanner{
    text-align: $justify-texto;
    color: $color-blanco;
    font-size: map-get($map-tfuentes, h2);
    width: 307px;
    height: 48px;
    font-family: $tipografia-destacada;
    position: relative;
    top: 80px;
    left: 40px;   
}
.imgTorta{
    width: 90%;
    height: 60vh;
    Display: flex;
    object-fit: cover;
    justify-content: flex-end;
    align-items: center;
    border-radius: 6px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.contenedorProducto{
    display: flex;
    height:60vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
.columna { 
    width: 50%; 
}
.columnaTextoP{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    min-height: 100%;
    background: $color-secundario;
    padding: 1rem 0.8rem 1rem 4rem;
}
.tituloSeccionProductos{
    text-align: $justify-textocenter;
    font-size: map-get($map-tfuentes, h2);
    color: $color-terciario;
    font-weight: 600;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 20px;   
}
.textoP{
    text-align:$justify-texto;
    display: block;
    width: 80%;
    font-size: $fuente-texto;
    color: $color-textos;
    padding: 5px;
    padding-top: 10px;
}
.botonComprarP{
    @extend.botonComprar;
    left: 60px;
    border-radius: 18px;
    margin-top: 10px;
    padding-top: 10px;
}

.imgProduct{
    background-position: center;
    background-size: cover;
    background-image: url("../assets/img/Torta\ de\ zanahoria.jpg"); 
}

.contenedorTarjetasNuestros{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.tarjetas{
    width: 30%;
    height: 440px;
    background-color: $color-secundario;
    box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
    -webkit-box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
    -moz-box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
    margin: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px $color-subtitulos;
    display: inline-block;
    position: relative;
}
.tarjetas img{
    width: 100%;
    height: 240px;
    border-radius: 6px 6px 0 0;
    object-fit: cover;   
}
.tarjetas img{
    transition: all 2s;
    z-index: -1;
}
.tarjetas img:hover{
    filter: brightness(100%);
    transform: scale(1.5);
    z-index: 10;
    overflow:hidden;
    cursor:zoom-in;
    align-self: center;
}
.tarjetas img:click{
    filter: brightness(100%);
    transform: scale(1.5);
    z-index: 10;
    cursor:zoom-in;
    align-self: center;
}
.tarjetas img:focus{
    filter: brightness(100%);
    transform: scale(1.5);
    z-index: 10;
    cursor:zoom-in;
    align-self: center;
}
.subtituloTarjetas{
    text-align: $justify-textocenter;
    font-size: 1.2rem;
    font-weight: 600;
    color: $color-subtitulos;
    padding: 10px;
    padding-left: 18px;
    padding-bottom: 8px;
}
.parrafoTarjetas{
    text-align: $justify-textocenter;
    display: block;
    width: 90%;
    font-size: $fuente-textochico;
    color: $color-textos;
    padding: 5px;
    padding-left: 18px;
    padding-top: 6px;
}
.contenedorBt{
    display: flex;
    justify-content: center;
}
.contenedorProductoDos{
    display: flex;
    flex-direction: row;
    height: 70vh;
}
.imgProductDos{
    background-position: center;
    background-size: cover;
    background-image: url("../assets/img/Cheesecake\ de\ limón.jpg"); 
}
.imgProductTres{
    background-position: center;
    background-size: cover;
    background-image: url("../assets/img/Cupcake\ red\ velvet.jpg"); 

}

/*css maquetación responsive pantalla nuestros productos tablet y celular pantalla grande*/
@media screen and (max-width: 768px) {
    .tituloN{
        @extend .titulo;
        padding: 5px;
        margin-top: 3px;
        font-size: $fuente-subtitulo;
      }
    .subtituloBanner{
        display: none;
    }
    .imgTorta{
        border-radius: 6px;
        width: 85%;
        height: 50vh;
        margin-top: 90px;
        margin-left: 30px;
        Display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
    }
    .columnaTextoP{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        min-height: 100%;
        background: $color-secundario;
        padding: 0.8rem 0.8rem 0.8rem 2rem;
    }
    .tituloSeccionProductos{
        text-align: $justify-textocenter;
        font-size: map-get($map-tfuentes, h3);
        color: $color-terciario;
        font-weight: 600;
        font-style: italic;
        display: flex;
        justify-content: center;
        padding: 10px;
        padding-bottom: 10px;   
    }
    .textoP{
        text-align:$justify-texto;
        display: block;
        width: 80%;
        font-size: $fuente-textochico;
        color: $color-textos;
        padding: 5px;
        padding-top: 10px;
    }
    .tarjetas{
        width: 37%;
        height: 410px;
        background-color: $color-secundario;
        box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
        -webkit-box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
        -moz-box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
        margin: 12px;
        border-radius: 6px;
        box-shadow: 0 0 10px $color-subtitulos;
        display: inline-block;
        position: relative;
    }
    .tarjetas img{
        width: 100%;
        height: 200px;
        border-radius: 6px 6px 0 0;
        object-fit: cover;   
    }
    .subtituloTarjetas{
        text-align: $justify-textocenter;
        font-size: $fuente-texto;
        font-weight: 600;
        color: $color-subtitulos;
        padding: 6px;
       
    }
    .parrafoTarjetas{
        text-align: $justify-textocenter;
        display: block;
        width: 90%;
        font-size: $fuente-textochico;
        color: $color-textos;
        padding: 3px;
        padding-top: 5px;
    }
     
   
}
/* CSS media query celular pantalla Nuestros productos*/
@media screen and (max-width: 576px){
    .fondoBannerNuestros{
        background:$color-primario;
        background-image: none;
        background-size: contain;
        margin-top: 3px;
        height: 90px;
    }
    .tituloN{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: $justify-textocenter;
        padding: 5px;
        margin-top: 80px;
        font-size: 1.8rem;
      }
    .subtituloBanner{
        display: none;
    }
    .imgTorta{
       display: none;
    }
    .columnaTextoP{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        min-height: 100%;
        background: $color-secundario;
        padding: 0.6rem 0.6rem 0.6rem 1rem;
    }
    .tituloSeccionProductos{
        text-align: $justify-textocenter;
        font-size: map-get($map-tfuentes, h3);
        color: $color-terciario;
        font-weight: 600;
        font-style: italic;
        display: flex;
        justify-content: center;
        padding: 10px;
        padding-bottom: 10px;   
    }
    .textoP{
        text-align:$justify-texto;
        display: block;
        width: 80%;
        font-size: $fuente-textochico;
        color: $color-textos;
        padding: 5px;
    }
    .botonComprarP{
        @extend.botonComprar;
        left: 5px;
        border-radius: 18px;
        margin-top: 24px;
        padding-top: 10px;
        width: 250px;
    }
    .tarjetas{
        width: 39%;
        height: 380px;
        background-color: $color-secundario;
        box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
        -webkit-box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
        -moz-box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
        margin: 8px;
        margin-bottom: 12px;
        border-radius: 6px;
        box-shadow: 0 0 10px $color-subtitulos;
        display: inline-block;
        position: relative;
    }
    .tarjetas img{
        width: 100%;
        height: 160px;
        border-radius: 6px 6px 0 0;
        object-fit: cover;   
    }
    .subtituloTarjetas{
        text-align: $justify-textocenter;
        font-size: $fuente-texto;
        font-weight: 600;
        color: $color-subtitulos;
        padding: 5px;
       
    }
    .parrafoTarjetas{
        text-align: $justify-textocenter;
        display: block;
        margin: auto;
        width: 90%;
        font-size: 14px;
        color: $color-textos;
        padding: 3px;
        padding-top: 5px;
        padding-bottom: 12px;
    }
    .contenedorBt{
        display: flex;
        justify-content: center;
        margin-top: 8px;
    } 
    .imgProductTres{
        background-position: center;
        background-size: cover;
        background-image: url("../assets/img/Cupcake\ red\ velvetresponsive.jpg"); 
    
    }  

}
  
    