/*Comienza la maquetación del main del Index*/

.fondoBannerIndex{
    background: $color-secundario;
    background-image: url(../assets/img/círculos\ fondo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:right;
    width: 100%;
    margin-top: 0;
    
}
.contenedorBannerIndex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70vh; 
    margin-bottom: 20px;
}
.columnaTexto{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    min-height: 100%;
    padding: 1rem 0.8rem 1rem 4rem;
}

.titulo{
    text-align: $justify-texto;
    color: $color-titulos;
    font-size: map-get($map-tfuentes, h1);
    font-weight: bold;
    font-family: poppins;
}
.subtituloPrincipalIndex{
    text-align: $justify-texto;
    color: $color-subtitulos;
    font-size: map-get($map-tfuentes, h2);
    width: 403px;
    height: 48px;
    font-family: $tipografia-destacada;
    
}
.parrafoPrincipal{
    text-align: $justify-texto;
    color: $color-textos;
    font-size: map-get($map-tfuentes, text-cuerpo);
    width: 500px;
    height: 80px; 
    padding-bottom: 20px;
      
}
.parrafoPrincipal span{
    color:$color-terciario;
}
.botonQuierosaberMas{
    color:$color-blanco;
    text-decoration: none;
    text-align: $justify-textocenter;
    font-size: map-get($map-tfuentes, text-cuerpo);
    transition: .4s ease-in;
    z-index: 1;
    background-color:$color-terciario;
    background-position: center;
    border: $color-terciario;
    width: 295px;
    height: 45px;
    border-radius: 18px;
    padding-top: 10px;
}
.botonQuierosaberMas:hover{
    color: $color-blanco ;
    font-weight: 600;
    background: #18849A;
    box-shadow: 0 0 5px #18B5D6, 0 0 25px #18B5D6, 0 0 50px #18B5D6, 0 0 200px #18B5D6;
}

.img-fluid{
    Display: flex;
    object-fit: cover;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 6px;
}
.contenedorNuestra{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tituloNuestraH{
    color: $color-subtitulos;
    padding: 20px;
    font-family: poppins;
    font-size: map-get($map-tfuentes, h2);
    font-weight: 600;
}
.lead{
    display: flex;
    justify-content: flex-end;
    text-align: justify;
    color: $color-textos;
    padding: 20px;
    font-size: map-get($map-tfuentes, text-chico);
    font-family: poppins;
    width: 480px;
    height: 170px;
    margin-bottom: 40px;
    
}
.navlinkNuestraHistoria{
    text-align: $justify-texto;
    color: $color-resaltar;
    padding: 20px;
    font-size: map-get($map-tfuentes, h3);
}
.navlinkNuestraHistoria:hover{
    color: #EB5265;
    font-weight: 600;
    
}
.imgHistoria{
    width: 45vw;
    Display: flex;
    object-fit: cover;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    margin-left: 20px;
    margin-bottom: 20px;    
}
.fondoValores{
    background: $color-secundario;
    background-position:bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 95%;
    margin-top: 10px;
}

.valores{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;   
}
.tituloValores{
    text-align: $justify-textocenter;
    font-size: map-get($map-tfuentes, h2);
    color: $color-titulos;
    font-weight: 600;
    padding: 12px;
    padding-bottom: 20px;   
}

.fuenteValor{
    text-align: $justify-texto;
    color: $color-resaltar;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    
}
.textoValor{
    display: inline-block;
    text-align: $justify-textocenter;
    color: $color-textos;
    font-size: $fuente-textochico;
    width: 280px;
    height: 110px;   
}

.seccionProductosDestacados{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20px;
}
.tituloSeccionProductosDestacados{
    text-align: $justify-textocenter;
    font-size: map-get($map-tfuentes, h2);
    font-weight: 600;
    padding: 15px;
    
}
.contenedorTarjetas{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom:  20px;
}
.tarjeta{
    width: 30%;
    height: 446px;
    background-color: $color-resaltar;
    box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
    -webkit-box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
    -moz-box-shadow: 9px 9px 8px 0px rgba(145,141,141,0.75);
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px $color-subtitulos;
    display: inline-block;
    position: relative;
}
.tarjeta img{
    width: 100%;
    height: 238px;
    border-radius: 4px 4px 0 0;
    object-fit: cover;   
}
.tarjeta img{
    transition: all 2s;
    z-index: -1;
}
.tarjeta img:hover{
    filter: brightness(100%);
    transform: scale(1.5);
    z-index: 10;
    overflow:hidden;
    cursor:zoom-in;
    align-self: center;
}
.tarjeta img:click{
    filter: brightness(100%);
    transform: scale(1.5);
    z-index: 10;
    cursor:zoom-in;
    align-self: center;
}
.tarjeta img:focus{
    filter: brightness(100%);
    transform: scale(1.5);
    z-index: 10;
    cursor:zoom-in;
    align-self: center;
}
.subtituloTarjeta{
    text-align: $justify-textocenter;
    font-weight: 600;
    font-size: 1.2rem;
    color: $color-subtitulos;
    padding: 10px;
    padding-left: 18px;
    padding-bottom: 8px;
}
.parrafoTarjeta{
    text-align: $justify-textocenter;
    display: block;
    width: 90%;
    height: 110px;
    font-size: $fuente-textochico;
    color: $color-textos;
    padding: 8px;
    padding-left: 18px;
    padding-top: 6px;
}
.seccionProductoDelMes{
    display: flex;   
}
.contenedorProductoDelMes{
    display: flex;
    bottom: 10px;
}
.tituloSeccionProductoDelMes{
    color: $color-titulos;
    font-family: poppins;
    font-size: map-get($map-tfuentes, h2);
    font-weight: 600;
}
.subtituloProductoDelMes{
    text-align: $justify-texto;
    font-size: 1.4rem;
    color: $color-resaltar;
    font-weight: 600;
    margin-left: 60px;    
}
.botonComprar{
    color:$color-blanco;
    text-decoration: none;
    background-color:$color-terciario;
    transition: .4s ease-in;
    z-index: 1;
    border-bottom: $color-terciario;
    border: $color-terciario;
    width: 295px;
    height: 45px;
    text-align: $justify-textocenter;
    font-size: map-get($map-tfuentes, text-cuerpo);
    left: 60px;
    border-radius: 18px;
    margin-top: 60px;
    padding-top: 10px;
}
.botonComprar:hover{
    color: $color-blanco ;
    font-weight: 600;
    background: #18849A;
    box-shadow: 0 0 5px #18B5D6, 0 0 25px #18B5D6, 0 0 50px #18B5D6, 0 0 200px #18B5D6;
}
.contenedorImagenProductoDelMes{
    display: inline-block;
    object-fit: cover;
}
.imagenProductoDelMes{
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

/*css maquetación responsive Index tablet y celular pantalla grande*/
@media screen and (max-width: 768px) {
    .contenedorBannerIndex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 80vh; 
        margin-bottom: 10px;
    }
    .fondoBannerIndex{
        height: 80vh;   
    }
    .columnaTexto{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 80%;
        padding: 0.2rem 0.5rem 1rem 2rem;
    }
    .titulo{
        text-align: $justify-texto;
        font-size: $fuente-subtitulo;  
    }
    .subtituloPrincipalIndex{
        text-align: left;
        font-size: 1.6rem;
        width: 285px;
        height: 36px;
        font-family: $tipografia-destacada;
        
    }
    .parrafoPrincipal{
        text-align: $justify-texto;
        font-size: $fuente-textochico;
        width: 350px;
        height: 86px;   
    }
    .botonQuierosaberMas{
        width: 280px;
        height: 45px;
        text-align: $justify-textocenter;
        font-size: $fuente-textochico;
        bottom: 60px;
        border-radius: 18px;
    }
    .img-fluid{
        border-radius: 6px;
        width: 100%;
        height: 80%;
        Display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        
    }
    .lead{
        padding: 10px;
        font-size: $fuente-textochico;
        width: 350px;
        height: 205px;
        
    }
    .tarjeta{
        width: 45%;   
    }
    .subtituloTarjeta{
        text-align: $justify-textocenter;
        font-size: $fuente-texto;
        font-weight: 600;
    }
      
    .contenedorProductoDelMes{
        display: flex;
        position: relative;
        bottom: 10px;
    }
    .colProducto{
        display: inline-block;
        left: 15px;
        right: 20px;
    }
    .tituloSeccionProductoDelMes{
        text-align: $justify-texto;
        font-size: 1.6rem;
        font-weight: 600;
    }
    .subtituloProductoDelMes{
        text-align: $justify-texto;
        font-size: 1.2rem;
        font-weight: 600;
        margin-left: 3px;
   
    }
    .botonComprar{
        width: 280px;
        height: 45px;
        text-align: $justify-textocenter;
        font-size: $fuente-textochico;
        bottom: 30px;
        left: 50px;
        border-radius: 18px;
        margin-top: 80px;
    }
    .contenedorImagenProductoDelMes{
        display: inline-block;
    }
    .imagenProductoDelMes{
        width:80%;
        border-radius: 6px;
        position: relative;
        padding-left: 3px;
        right: 8px;
        top: 40px;
        margin-bottom: 5px;
    }
      
}
/* CSS media query celular Index*/
@media screen and (max-width: 576px){
    .contenedorBannerIndex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh; 
        margin-bottom: 10px;
    }
    .fondoBannerIndex{
        height: 60vh;  
        margin-top:0; 
    }
    .columnaTexto{
        display: flex;
        margin: auto 0;
        min-height: 80%;
        
    }
    .titulo{
        display: flex;
        margin: auto;
        text-align: $justify-textocenter;
        font-size: 1.8rem;
        padding-top: 8px; 
        padding: 3px; 
    }
    .subtituloPrincipalIndex{
        display: flex;
        margin: auto;
        padding: 3px;
        text-align:$justify-textocenter;
        font-size: 1.4rem;
        font-family: $tipografia-destacada;
        
    }
    .parrafoPrincipal{
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: $justify-textocenter;
        font-size: 0.9rem;    
    }
    .botonQuierosaberMas{
        position: relative;
        top: 8px;
        left: 80px;
        width: 280px;
        height: 45px;
        text-align: $justify-textocenter;
        font-size: $fuente-textochico;
        border-radius: 18px;
    }
    .img-fluid{
        display: none;
        
    }
    .contenedorNuestra{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tituloNuestraH{
        text-align: $justify-textocenter;
        font-size: 1.4rem;
    }
    .lead{
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: $justify-textocenter;
        font-size: 0.9rem;
        width: 100%;  
        height: 25vh;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .navlinkNuestraHistoria{
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: $justify-textocenter;
        font-size: $fuente-texto;
        padding-top: 5px;
    }
    .imgHistoria{
        display: none;
    }
    .tituloValores{
        font-size:$fuente-enlaces;
    }
    .tituloSeccionProductosDestacados{
        font-size:$fuente-enlaces;
    }
    .tarjeta{
        width: 60%;  
    }
    .subtituloTarjeta{
        text-align: $justify-textocenter;
        font-size: $fuente-texto;
        padding: 3px;
        font-weight: 600;
        padding-bottom: 4px;
    }
    .parrafoTarjetas{
        text-align: $justify-textocenter;
        display: block;
        width: 90%;
        font-size: 14px;
        padding: 3px;
        padding-left: 18px;
        padding-top: 4px;
    }
    .tituloSeccionProductoDelMes{
        display: flex;
        margin: auto;
        padding: 6px;
        color: $color-titulos;
        text-align:$justify-textocenter;
        font-family: poppins;
        font-size: map-get($map-tfuentes, h3);
        font-weight: 600;
    }
    .subtituloProductoDelMes{
        display: flex;
        margin: auto;
        padding: 6px;
        text-align: $justify-textocenter;
        font-size: 1.1rem;
        color: $color-resaltar;
        font-weight: 600;   
    }
  
    .botonComprar{
        position: relative;
        left: 80px;
        width: 280px;
        height: 45px;
        text-align: $justify-textocenter;
        font-size: $fuente-textochico;
        border-radius: 18px;
        
    }
}

       
       
           
            
            
    
    
       
        
  
    