/*Creación de variables*/
$color-primario: #F1B8BF;
$color-secundario: #E0F3F7;
$color-terciario:#48BDD6;
$color-resaltar: #F6929E;
$color-fondo: #FFFDFD;
$color-blanco: #FFFFFF;

$color-titulos: #0F0F10;
$color-subtitulos: #1B1B1C;
$color-textos: #394149;

$fuente-titulo: 2.5rem;
$fuente-subtitulo: 2rem;
$fuente-texto: 1.1rem;
$fuente-enlaces: 1.3rem;
$fuente-textochico: 1rem;

$justify-texto: left;
$justify-textocenter: center;

$tipografia-destacada: La Belle Aurore;

