@charset "UTF-8";
/*Creación de variables*/
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  background-color: #FFFDFD;
  width: 100%;
  height: 100vh;
}

html, body {
  width: 100% !important;
  overflow-x: hidden;
}

/*Comienza la maquetación del header*/
.sticky-top {
  background-color: #FFFDFD;
  padding: 3px;
  text-align: left;
  width: 100%;
  position: sticky !important;
  top: 0px;
  z-index: 10;
}

header .container-fluid .logo {
  width: 100px;
  position: sticky;
  left: 86px;
}

.colorNav {
  background-color: #F1B8BF;
  width: 100%;
}

.navbar-nav {
  list-style: none;
  position: sticky;
}

.nav-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  color: #1B1B1C;
  text-decoration: none;
  font-family: poppins;
  font-size: 1.3rem;
  font-weight: 600;
}

/*Termina la maquetación del header*/
/*Comienza la maquetación del main del Index*/
.fondoBannerIndex {
  background: #E0F3F7;
  background-image: url(../assets/img/círculos\ fondo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  margin-top: 0;
}

.contenedorBannerIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70vh;
  margin-bottom: 20px;
}

.columnaTexto {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  min-height: 100%;
  padding: 1rem 1rem 1rem 4rem;
}

.titulo {
  text-align: left;
  color: #0F0F10;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: poppins;
}

.subtituloPrincipalIndex {
  text-align: left;
  color: #1B1B1C;
  font-size: 2rem;
  width: 403px;
  height: 48px;
  font-family: La Belle Aurore;
}

.parrafoPrincipal {
  text-align: left;
  color: #394149;
  font-size: 1.1rem;
  width: 511px;
  height: 73px;
}

.parrafoPrincipal span {
  color: #48BDD6;
}

.botonQuierosaberMas {
  color: #FFFFFF;
  background-color: #48BDD6;
  border-bottom: #48BDD6;
  border: #48BDD6;
  width: 295px;
  height: 50px;
  text-align: center;
  font-size: 1.1rem;
  bottom: 56px;
  border-radius: 18px;
}

.img-fluid {
  border-radius: 8px;
  width: 35%;
  height: 50vh;
  Display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  min-height: 100%;
}

.row {
  display: flex;
  margin-top: 35px;
}

.tituloNuestraH {
  color: #1B1B1C;
  padding: 20px;
  font-family: poppins;
  font-size: 2rem;
  font-weight: 600;
}

.lead {
  text-align: left;
  color: #394149;
  padding: 20px;
  font-size: 1.1rem;
  font-family: poppins;
  width: 616px;
  height: 148px;
  margin-bottom: 40px;
}

.navlinkNuestraHistoria {
  text-align: left;
  color: #F6929E;
  padding: 20px;
  font-size: 1.3rem;
}

.bd-placeholder-img {
  border-radius: 8px;
}

.imgHistoria {
  width: 50vw;
  top: 60vh;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  min-height: 100%;
  padding: 1rem 1rem 1rem 4rem;
  margin-bottom: 50px;
}

.fondoValores {
  background: #E0F3F7;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 10px;
}

.valores {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.col-lg-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.tituloValores {
  text-align: center;
  font-size: 2rem;
  color: #0F0F10;
  font-weight: 600;
  padding: 12px;
  padding-bottom: 20px;
}

.fuenteValor {
  text-align: left;
  color: #F6929E;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
}

.textoValor {
  display: inline-block;
  text-align: center;
  color: #394149;
  font-size: 1rem;
  width: 300px;
  height: 103px;
}

.seccionProductosDestacados {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 1051px;
  position: relative;
  bottom: 20px;
}

.tituloSeccionProductosDestacados {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 15px;
}

.contenedorTarjetas {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.tarjeta {
  width: 30%;
  height: 446px;
  background-color: #F6929E;
  box-shadow: 9px 9px 8px 0px rgba(145, 141, 141, 0.75);
  -webkit-box-shadow: 9px 9px 8px 0px rgba(145, 141, 141, 0.75);
  -moz-box-shadow: 9px 9px 8px 0px rgba(145, 141, 141, 0.75);
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px #1B1B1C;
  display: inline-block;
  position: relative;
}

.tarjeta img {
  width: 100%;
  height: 238px;
  border-radius: 8px 8px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.subtituloTarjeta {
  text-align: left;
  font-size: 1.2rem;
  color: #1B1B1C;
  padding: 10px;
  padding-left: 18px;
  padding-bottom: 8px;
}

.parrafoTarjeta {
  text-align: left;
  display: block;
  width: 90%;
  height: 119px;
  font-size: 1rem;
  color: #394149;
  padding: 8px;
  padding-left: 18px;
  padding-top: 6px;
}

.seccionProductoDelMes {
  display: flex;
}

.contenedorProductoDelMes {
  display: flex;
  left: 80px;
  bottom: 10px;
}

.tituloSeccionProductoDelMes {
  color: #0F0F10;
  font-family: poppins;
  font-size: 2rem;
  font-weight: 600;
}

.subtituloProductoDelMes {
  text-align: left;
  font-size: 1.4rem;
  color: #F6929E;
  font-weight: 600;
  margin-left: 80px;
}

.botonComprar {
  color: #FFFFFF;
  background-color: #48BDD6;
  border-bottom: #48BDD6;
  border: #48BDD6;
  width: 295px;
  height: 50px;
  text-align: center;
  font-size: 1.1rem;
  bottom: 30px;
  left: 80px;
  border-radius: 18px;
  margin-top: 60px;
}

.contenedorImagenProductoDelMes {
  display: inline-block;
}

.imagenProductoDelMes {
  width: 300px;
  border-radius: 8px;
  position: absolute;
  right: 86px;
  top: 40px;
  margin-bottom: 5px;
}

.bgRosaPastel {
  background-color: #F1B8BF;
  display: flex;
}

.h3 {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  color: #1B1B1C;
}

.h4 {
  text-align: left;
  font-size: 1.1rem;
  color: #1B1B1C;
  font-weight: 600;
}

.texto {
  text-align: left;
  font-size: 1rem;
  color: #394149;
}

.redesSociales {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.linkRedSocial {
  display: inline-block;
  color: #0F0F10;
  font-size: 1.8rem;
  padding-inline: 5px;
  margin-right: 60px;
}

/*Inicia la maquetación del main pagina nosotros*/
.columnaTexto {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  min-height: 100%;
  padding: 1rem 4rem 1rem 4rem;
}

.img-fluid {
  border-radius: 8px;
  width: 50vw;
  height: 60vh;
}

.contenedorNuestraHistoria {
  display: flex;
  height: 80vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.columna {
  width: 50%;
}

.col-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  min-height: 100%;
  background: #F1B8BF;
  padding: 1rem 12rem 1rem 4rem;
}

.col-info p {
  line-height: 1.5;
}

.col-img {
  background-position: center;
  background-size: cover;
  background-image: url("../assets/img/ingredientesyutenciliospasteleros.jpg");
}

.subtitulo {
  text-align: left;
  width: 402px;
  height: 139px;
  font-size: 1.8rem;
  color: #1B1B1C;
  font-weight: 600;
}

.subtitulo span {
  text-align: left;
  width: 402px;
  height: 139px;
  font-size: 1.8rem;
  color: #F6929E;
  font-weight: 600;
}

.parrafoHistoria {
  text-align: left;
  color: #394149;
  font-size: 1.1rem;
  width: 403px;
  height: 178px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imgHover {
  transition: all 2s;
  z-index: -1;
  border-radius: 8px;
}

.imgHover:hover {
  filter: brightness(100%);
  transform: scale(1.5);
  z-index: 10;
  overflow: hidden;
  cursor: zoom-in;
  align-self: center;
}

.imgHover:click {
  filter: brightness(100%);
  transform: scale(1.5);
  z-index: 10;
  cursor: zoom-in;
  align-self: center;
}

.imgHover:focus {
  filter: brightness(100%);
  transform: scale(1.5);
  z-index: 10;
  cursor: zoom-in;
  align-self: center;
}

.fuenteDos {
  text-align: center;
  color: #F6929E;
  font-size: 1.3rem;
  font-weight: 600;
  padding-top: 5px;
}

.fuenteDosAzul {
  text-align: center;
  color: #48BDD6;
  font-size: 1.3rem;
  font-weight: 600;
  padding-top: 5px;
}

.textoEquipo {
  text-align: center;
  color: #394149;
  font-size: 1rem;
}

/*inicia la maquetación  de la pagina nuestros productos*/
.fondoBnNuestros {
  background: #F1B8BF;
  background-image: url(../assets/img/círculo\ azul\ mediano\ fondo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 80vh;
  margin-top: 5px;
}

.subtituloBanner {
  text-align: left;
  color: #FFFFFF;
  font-size: 2rem;
  width: 307px;
  height: 48px;
  font-family: La Belle Aurore;
  position: relative;
  top: 80px;
  left: 15px;
}

.seccionProductos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
  bottom: 20px;
}

.tituloSeccionProductos {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  top: 27px;
  bottom: 20px;
  padding: 15px;
}

.subtituloProductos {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
  position: relative;
  padding: 15px;
  top: 76px;
  right: 600px;
}

.card {
  width: 80%;
  height: 550px;
  background-color: #E0F3F7;
  box-shadow: 9px 9px 8px 0px rgba(145, 141, 141, 0.75);
  -webkit-box-shadow: 9px 9px 8px 0px rgba(145, 141, 141, 0.75);
  -moz-box-shadow: 9px 9px 8px 0px rgba(145, 141, 141, 0.75);
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px #1B1B1C;
  display: flex;
  position: absolute;
  top: 120px;
  padding-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  border-radius: 8px 8px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  color: #1B1B1C;
  padding: 10px;
  padding-bottom: 8px;
}

.card-text {
  text-align: left;
  display: block;
  width: 90%;
  font-size: 1rem;
  color: #394149;
  padding: 5px;
  padding-top: 6px;
}

.botonTarjeta {
  color: #FFFFFF;
  background-color: #48BDD6;
  border-bottom: #48BDD6;
  border: #48BDD6;
  width: 240px;
  height: 40px;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

.contenedorTarjetasNuestros {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.tarjetas {
  width: 30%;
  height: 450px;
  background-color: #E0F3F7;
  box-shadow: 9px 9px 8px 0px rgba(145, 141, 141, 0.75);
  -webkit-box-shadow: 9px 9px 8px 0px rgba(145, 141, 141, 0.75);
  -moz-box-shadow: 9px 9px 8px 0px rgba(145, 141, 141, 0.75);
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #1B1B1C;
  display: inline-block;
  position: relative;
}

.tarjetas img {
  width: 100%;
  height: 240px;
  border-radius: 8px 8px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.subtituloTarjetas {
  text-align: left;
  font-size: 1.2rem;
  color: #1B1B1C;
  padding: 10px;
  padding-left: 18px;
  padding-bottom: 8px;
}

.parrafoTarjetas {
  text-align: left;
  display: block;
  width: 90%;
  font-size: 1rem;
  color: #394149;
  padding: 5px;
  padding-left: 18px;
  padding-top: 6px;
}

.botonTarjetas {
  color: #FFFFFF;
  background-color: #48BDD6;
  border-bottom: #48BDD6;
  border: #48BDD6;
  width: 220px;
  height: 40px;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 18px;
  margin-left: 50px;
}

.seccionProductosDos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1100px;
  bottom: 20px;
}

.subtituloProductosDos {
  text-align: left;
  font-size: 1.3rem;
  color: #1B1B1C;
  font-weight: 600;
  font-style: italic;
  position: relative;
  padding: 10px;
  top: 70px;
  right: 490px;
}

.botonTarjetaDos {
  color: #FFFFFF;
  background-color: #48BDD6;
  border-bottom: #48BDD6;
  border: #48BDD6;
  width: 240px;
  height: 40px;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 18px;
  margin-left: 10px;
}

.seccionProductosTres {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2170px;
  bottom: 20px;
}

.subtituloProductosTres {
  text-align: left;
  color: #1B1B1C;
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
  position: relative;
  padding: 10px;
  top: 60px;
  right: 480px;
}

.footer {
  position: relative;
  top: 3280px;
}

/*inicia la maquetación  de la pagina galeria*/
.bannerGaleria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: linear-gradient(to right top, rgba(247, 208, 213, 0.6431372549), rgba(249, 187, 194, 0.5882352941), rgba(250, 165, 175, 0.4941176471), rgba(250, 142, 156, 0.7176470588), rgba(248, 119, 136, 0.8078431373)), url(../assets/img/pastel\ galeria.jpg);
  width: 100%;
  height: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 10px;
}

.tituloGaleria {
  text-align: center;
  color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 180px;
  left: 900px;
}

.galeria {
  margin: 16px;
}

.subtitulo {
  text-align: left;
  font-size: 2rem;
  color: #1B1B1C;
  font-weight: 600;
}

.parrafo {
  text-align: left;
  font-size: 1.1rem;
  color: #394149;
}

.galeriaPVenta {
  margin: 24px;
}

.subtituloCarrusel {
  font-size: 2rem;
  color: #1B1B1C;
  font-weight: 600;
}

.textoCarrusel {
  font-size: 1rem;
  color: #1B1B1C;
}

/*inicia la maquetación  de la pagina contáctanos*/
.bannerContactanos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: linear-gradient(to right top, rgba(203, 242, 250, 0.2196078431), rgba(170, 225, 238, 0.3960784314), rgba(136, 209, 226, 0.5411764706), rgba(97, 192, 214, 0.9058823529), #2ab0cb), url(../assets/img/pastelerialugar.jpg);
  width: 100%;
  height: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 10px;
}

.ubicacion {
  padding: 20px;
}

.columnaTextoUbica {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  min-height: 100%;
  padding: 1rem 2rem 1rem 4rem;
}

.textoAzul {
  font-size: 1.8rem;
  color: #2ab0cb;
  font-weight: 600;
  padding-top: 5px;
}

.mapa {
  display: flex;
  justify-content: center;
  padding-left: 30px;
}

.fa-solid {
  color: #F6929E;
  font-size: 1.3rem;
  padding-bottom: 5px;
}

.formulario {
  background-image: linear-gradient(to right top, rgba(197, 197, 197, 0.2196078431), rgba(220, 224, 224, 0.3960784314), rgba(232, 236, 236, 0.5411764706), rgba(238, 244, 245, 0.6431372549), rgba(255, 255, 255, 0.5607843137)), url(../assets/img/Cupcake\ red\ velvet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  font-size: 2rem;
  color: #1B1B1C;
  font-weight: 600;
  padding: 5px;
}

.bigicon {
  color: #2ab0cb;
  font-size: 1.8rem;
  padding: 2px;
}

.h3Footer {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  color: #1B1B1C;
}

.h4Footer {
  text-align: left;
  font-size: 1.1rem;
  color: #1B1B1C;
  font-weight: 600;
}

/*css maquetación responsive Index tablet y celular pantalla grande*/
@media screen and (max-width: 768px) {
  .sticky-top {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .contenedorBannerIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80vh;
    margin-bottom: 10px;
  }
  .fondoBannerIndex {
    height: 80vh;
  }
  .columnaTexto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80%;
    padding: 0.2rem 0.5rem 1rem 2rem;
  }
  .titulo {
    text-align: left;
    font-size: 2rem;
  }
  .subtituloPrincipalIndex {
    text-align: left;
    font-size: 1.6rem;
    width: 285px;
    height: 36px;
    font-family: La Belle Aurore;
  }
  .parrafoPrincipal {
    text-align: left;
    font-size: 1rem;
    width: 360px;
    height: 86px;
  }
  .botonQuierosaberMas {
    width: 280px;
    height: 45px;
    text-align: center;
    font-size: 1rem;
    bottom: 60px;
    border-radius: 18px;
  }
  .img-fluid {
    border-radius: 8px;
    width: 100%;
    height: 80%;
    Display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
  }
  .lead {
    padding: 10px;
    font-size: 1rem;
    width: 350px;
    height: 205px;
  }
  .tarjeta {
    width: 45%;
  }
  .contenedorProductoDelMes {
    display: flex;
    position: relative;
    bottom: 10px;
  }
  .colProducto {
    display: inline-block;
    left: 15px;
    right: 20px;
  }
  .tituloSeccionProductoDelMes {
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .subtituloProductoDelMes {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 3px;
  }
  .botonComprar {
    width: 280px;
    height: 45px;
    text-align: center;
    font-size: 1rem;
    bottom: 30px;
    left: 50px;
    border-radius: 18px;
    margin-top: 80px;
  }
  .contenedorImagenProductoDelMes {
    display: inline-block;
  }
  .imagenProductoDelMes {
    width: 250px;
    border-radius: 8px;
    position: absolute;
    padding-left: 3px;
    right: 40px;
    top: 40px;
    margin-bottom: 5px;
  }
}
/* CSS media query celular Index*/
@media screen and (max-width: 576px) {
  .contenedorBannerIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-bottom: 10px;
  }
  .fondoBannerIndex {
    height: 80vh;
    margin-top: 10px;
  }
  .columnaTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80%;
  }
  .titulo {
    text-align: center;
    font-size: 1.8rem;
    padding-top: 10px;
  }
  .subtituloPrincipalIndex {
    text-align: center;
    font-size: 1.4rem;
    font-family: La Belle Aurore;
  }
  .parrafoPrincipal {
    text-align: center;
    font-size: 0.9rem;
    width: 360px;
    height: 86px;
  }
  .botonQuierosaberMas {
    width: 280px;
    height: 45px;
    text-align: center;
    font-size: 1rem;
    bottom: 60px;
    border-radius: 18px;
  }
  .img-fluid {
    display: none;
  }
  .tituloNuestraH {
    text-align: center;
    font-size: 1.4rem;
  }
  .lead {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
    height: 25vh;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .navlinkNuestraHistoria {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    text-align: center;
    font-size: 1.1rem;
    padding-top: 5px;
  }
  .bd-placeholder-img {
    display: none;
  }
  .tarjeta {
    width: 60%;
  }
  .subtituloTarjeta {
    text-align: left;
    font-size: 1.1rem;
    padding: 5px;
    padding-left: 18px;
    padding-bottom: 4px;
  }
  .parrafoTarjetas {
    text-align: left;
    display: block;
    width: 90%;
    font-size: 14px;
    padding: 3px;
    padding-left: 18px;
    padding-top: 4px;
  }
  .contenedorProductoDelMes {
    display: flex;
    position: relative;
    bottom: 10px;
  }
  .botonComprar {
    width: 280px;
    height: 45px;
    text-align: center;
    font-size: 1rem;
    bottom: 30px;
    left: 50px;
    border-radius: 18px;
    margin-top: 60px;
  }
}
/*css maquetación responsive pantalla Nosotros tablet y celular pantalla grande*/
@media screen and (max-width: 768px) {
  .contenedorNuestraHistoria {
    display: flex;
    height: 70vh;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .columna {
    width: 50%;
  }
  .col-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background: #F1B8BF;
    padding: 1rem 1rem 1rem 1rem;
  }
  .col-info p {
    line-height: 1;
  }
  .col-img {
    background-position: center;
    background-size: cover;
    background-image: url("../assets/img/ingredientesyutenciliospasteleros.jpg");
  }
  .subtitulo {
    position: relative;
    padding-top: 10px;
    text-align: left;
    width: 350px;
    height: 139px;
    font-size: 1.6rem;
    color: #1B1B1C;
    font-weight: 600;
  }
  .subtitulo span {
    text-align: left;
    width: 350px;
    height: 139px;
    font-size: 1.6rem;
    color: #F6929E;
    font-weight: 600;
  }
  .parrafoHistoria {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30px;
    text-align: left;
    color: #394149;
    font-size: 1rem;
    width: 350px;
    height: 178px;
  }
  .container {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .imgHover {
    padding-top: 8px;
    border-radius: 8px;
  }
}
/* CSS media query celular pantalla Nosotros*/
@media screen and (max-width: 576px) {
  .subtitulo {
    position: relative;
    padding-top: 10px;
    text-align: left;
    width: 320px;
    height: 160px;
    font-size: 1.3rem;
    color: #1B1B1C;
    font-weight: 600;
  }
  .parrafoHistoria {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    left: 5px;
    text-align: left;
    color: #394149;
    font-size: 0.9rem;
    width: 215px;
    height: 260px;
  }
}
/*css maquetación responsive pantalla nuestros productos tablet y celular pantalla grande*/
@media screen and (max-width: 768px) {
  .subtituloBanner {
    display: none;
  }
  .tituloSeccionProductos {
    text-align: center;
    font-size: 1.8rem;
    top: 15px;
    position: relative;
    margin-left: 50px;
    bottom: 15px;
    padding: 15px;
  }
  .subtituloProductos {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    position: relative;
    padding: 15px;
    top: 10px;
    right: 600px;
  }
  .card {
    width: 80%;
    height: 550px;
    background-color: #E0F3F7;
    box-shadow: 9px 9px 8px 0px rgba(145, 141, 141, 0.75);
    -webkit-box-shadow: 9px 9px 8px 0px rgba(145, 141, 141, 0.75);
    -moz-box-shadow: 9px 9px 8px 0px rgba(145, 141, 141, 0.75);
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px #1B1B1C;
    display: flex;
    position: absolute;
    top: 110px;
    padding-bottom: 10px;
  }
  .card-title {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    color: #1B1B1C;
    padding: 10px;
    padding-bottom: 6px;
  }
  .card-text {
    text-align: left;
    display: block;
    width: 90%;
    font-size: 0.9rem;
    color: #394149;
    padding: 5px;
    padding-top: 6px;
  }
  .botonTarjeta {
    color: #FFFFFF;
    background-color: #48BDD6;
    border-bottom: #48BDD6;
    border: #48BDD6;
    width: 240px;
    height: 40px;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 18px;
    margin-top: 5px;
    margin-left: 150px;
  }
  .contenedorTarjetasNuestros {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }
  .tarjetas {
    width: 35%;
    height: 410px;
    margin: 8px;
  }
  .tarjetas img {
    width: 100%;
    height: 220px;
    border-radius: 8px 8px 0 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .subtituloTarjetas {
    text-align: left;
    font-size: 1rem;
    padding: 5px;
    padding-left: 18px;
    padding-bottom: 5px;
  }
  .parrafoTarjetas {
    text-align: left;
    display: block;
    width: 90%;
    font-size: 0.9rem;
    color: #394149;
    padding: 5px;
    padding-left: 18px;
    padding-top: 6px;
  }
  .botonTarjetas {
    color: #FFFFFF;
    background-color: #48BDD6;
    border-bottom: #48BDD6;
    border: #48BDD6;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 18px;
    margin-left: 10px;
  }
  .seccionProductosDos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1000px;
    bottom: 20px;
  }
  .subtituloProductosDos {
    text-align: left;
    font-size: 1.1rem;
    color: #1B1B1C;
    font-weight: 600;
    font-style: italic;
    position: relative;
    padding: 10px;
    top: 70px;
    right: 490px;
  }
  .botonTarjetaDos {
    color: #FFFFFF;
    background-color: #48BDD6;
    border-bottom: #48BDD6;
    border: #48BDD6;
    width: 240px;
    height: 40px;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 18px;
    margin-left: 150px;
  }
  .seccionProductosTres {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2000px;
    bottom: 20px;
  }
  .subtituloProductosTres {
    text-align: left;
    color: #1B1B1C;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    position: relative;
    padding: 10px;
    top: 60px;
    right: 480px;
  }
  .footer {
    position: relative;
    top: 3100px;
  }
}
/* CSS media query celular pantalla Nuestros productos*/
@media screen and (max-width: 576px) {
  .fondoBannerNuestros {
    height: 70vh;
    margin-top: 10px;
  }
  .tituloSeccionProductos {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 20px;
    position: relative;
    margin-left: 50px;
    bottom: 10px;
    padding: 15px;
  }
  .botonTarjeta {
    font-size: 1.1rem;
    border-radius: 18px;
    margin-top: 3px;
    margin-left: 100px;
  }
  .contenedorTarjetasNuestros {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }
  .tarjetas {
    width: 40%;
    height: 420px;
    margin: 6px;
  }
  .parrafoTarjetas {
    text-align: left;
    display: block;
    width: 90%;
    font-size: 0.8rem;
    color: #394149;
    padding: 3px;
    padding-left: 15px;
    padding-top: 3px;
  }
  .botonTarjetas {
    color: #FFFFFF;
    background-color: #48BDD6;
    border-bottom: #48BDD6;
    border: #48BDD6;
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 18px;
    margin-left: 15px;
  }
  .seccionProductosDos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 980px;
    bottom: 20px;
  }
  .card {
    width: 90%;
    height: 570px;
    margin-bottom: 10px;
  }
  .card-text {
    font-size: 0.9rem;
    padding: 5px;
  }
  .text-mute {
    padding: 5px;
  }
  .botonTarjetaDos {
    color: #FFFFFF;
    background-color: #48BDD6;
    border-bottom: #48BDD6;
    border: #48BDD6;
    width: 210px;
    height: 40px;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 18px;
    margin-top: 10px;
    margin-left: 100px;
  }
  .footer {
    position: relative;
    top: 3050px;
  }
}
/*css maquetación responsive pantalla galería tablet y celular pantalla grande*/
@media screen and (max-width: 768px) {
  .tituloGaleria {
    font-size: 2rem;
    top: 120px;
    left: 500px;
  }
  .tituloValores {
    font-size: 1.6rem;
  }
  .parrafo {
    font-size: 1rem;
  }
}
/* CSS media query celular pantalla Galería*/
@media screen and (max-width: 576px) {
  .bannerGaleria {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(to right top, rgba(247, 208, 213, 0.6431372549), rgba(249, 187, 194, 0.5882352941), rgba(250, 165, 175, 0.4941176471), rgba(250, 142, 156, 0.7176470588), rgba(248, 119, 136, 0.8078431373)), url(../assets/img/pastel\ galeria.jpg);
    background-position: center;
    bottom: 10px;
  }
  .tituloGaleria {
    font-size: 1.8rem;
    top: 15px;
    left: 20px;
  }
  .subtitulo {
    font-size: 1.6rem;
    text-align: center;
  }
  .subtitulo span {
    font-size: 1.6rem;
    text-align: center;
  }
  .parrafo {
    font-size: 0.9rem;
    text-align: center;
  }
}
/*css maquetación responsive pantalla contáctanos tablet y celular pantalla grande*/
@media screen and (max-width: 768px) {
  .columnaTextoUbica {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    min-height: 100%;
    padding: 20px;
  }
  .textoAzul {
    font-size: 1.6rem;
  }
  .mapa {
    display: flex;
    justify-content: center;
    padding-left: 30px;
  }
  .fa-solid {
    font-size: 1.1rem;
  }
}
/* CSS media query celular pantalla Contáctanos*/
@media screen and (max-width: 576px) {
  .bannerContactanos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-position: center;
    bottom: 10px;
  }
  .columnaTextoUbica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 10px;
  }
}/*# sourceMappingURL=estilos.css.map */